@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #4ade80;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  color: #86efac;
}

input,
textarea {
  background-color: black;
  color: #4ade80;
  border-color: #15803d;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #22c55e;
}

button:hover {
  background-color: #15803d;
  color: black;
}
